:root {
    --primary: #f42f63;
    --light-primary: #fa4071;
    --dark-primary: #641033;
    --purple: #a833a8;
    --blue: #37a9bc;
    --red: #bc3737;
    --black: #010606;
    --white: #f3f6f9;
    --light-grey: #d7d9db;
    --dark-grey: #212121;
}